body {
    margin: 0;
    background: url("../img/pattern.png");

    font-family: Tahoma;
    line-height: 1.5;
    font-size: 18px;
}
.card {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(164, 245, 161);
    box-shadow: 0 25px 60px; #ccc;
    border-radius: 60px
    }

.card-photo {
    display: block;
    width:500;
    height: 200;
    margin: 0 auto;
    border-radius: 100%;
}

.card-title {
    font-size: 20px;
    text-align: center;
    color: rgb(30, 51, 168);
}

.card-text {
    font-size: 14px;
    }

.card-subtitle {
    font-size: 18px;
    color: rgb(45, 45, 114);
}
.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 14px;
    
}